@using MyOpinion.Service;
@model ChangeViewModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    Dictionary<string, string> dic = MySessionExtensions.Get<Dictionary<string, string>>(HttpContextAccessor.HttpContext.Session, KeysInTempData.Dictionary);
    var Password = dic[KeysInTempData.Password];
    HttpContextAccessor.HttpContext.Session.SetString(KeysInTempData.WhatChanging, KeysInTempData.Password);

}
<h1>Смена пароля</h1>
<div class="div-box">
    <form asp-area="" asp-controller="Account" asp-action="EditPassword" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" />
            <span asp-validation-for="OldPassword"></span>
        </div>

        <div>
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>
     @*    <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div> *@
        <div>
            <input type="submit" value="Сохранить";/>
        </div>
    </form>
</div>